/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Helvetica Neue", Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer base {
  :root {
    --color-base: 34, 40, 49;
    --color-inverted: 232, 232, 232;
    --color-primary: 253, 186, 116;
    --color-secondary: 48, 71, 94;
    --color-secondary-shadow: 74, 93, 117;
    --color-secondary-inverted: 114, 138, 168;
    --color-section: 245, 230, 202;
    --color-section-inverted: 191, 179, 154;
    --color-section-shadow: 165, 152, 124;
    --color-accent: 245, 71, 72;
  }
}
