---
import PageContainer from "../components/PageContainer.astro";
import PageHeading from "../components/PageHeading.astro";
import Section from "../components/Section.astro";
import SectionHeading from "../components/SectionHeading.astro";
import ToC from "../components/ToC.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---
<BaseLayout title="Gadgets">
  <PageContainer>
    <PageHeading>My gadgets</PageHeading>
    <ToC contents={[
      "Mechanical keyboard",
      "Speedcubes",
    ]} />
    <div class="divide-y divide-solid divide-skin-base">
      <Section id="section-0"> 
        <SectionHeading>Mechanical keyboard</SectionHeading>
        <p>I&rsquo;ve been using a mechanical keyboard since 2015 and it&rsquo;s only in 2022 that I ventured into the rabbit hole that is custom mechanical keyboards. My current build is:</p>
        <ul class="list-disc list-inside px-4 pb-3 md:pb-4 marker:text-skin-accent">
          <li>Glorious GMMK Pro</li>
          <li>Unlubed Panda Switches</li>
          <li>Aluminium switch plate</li>
          <li>GPBT Ocean Blue keycaps</li>
        </ul>
        <p>I realize that this is pretty stock and I don&rsquo;t have a single modidification or custom part that Glorious doesn&rsquo;t sell, but I see this as my introduction into this world. I&rsquo;ve got my eye on Mode SixtyFive for my next build.</p>
      </Section>
      <Section id="section-1"> 
        <SectionHeading>Speedcubes</SectionHeading>
        <p>I have quite a few cubes and I really like them all. Learning the 4x4 and 5x5 stretched my brain but that was nothing compared to learning the Square-1. Right now, I&rsquo;m focusing on the 3x3 and working on my algorithms. I&rsquo;ve slowly been building up muscle memory for 2-look OLL and PLL. My main 3x3s at the moment are:</p>
        <ul class="list-disc list-inside px-4 pb-3 md:pb-4 marker:text-skin-accent">
          <li>Tornado V3 M Pioneer</li>
          <li>WeiLong WR M 2021 MagLev</li>
          <li>Super RS3 M 2022 Base</li>
        </ul>
        <p>I&rsquo;ve set these up with a combination of Weight 3, Gravitas, Silk and Mystic. These were the lubes I could get access to and since it was my first time using lubed cubes, I don&rsquo;t have much of a comparison point. I&rsquo;m trying to get my hands on DNM-37 and setting up one of cubes from scratch to see if that like that additional better.</p>
      </Section>
    </div>
  </PageContainer>
</BaseLayout>
